.header {
    background: #333;
    height: 42px;
    line-height: 42px;
    clear: both;
}

.header-left {
    float: left;
    margin: 0 50px;
}

.header-left span {
    color: #b0b0b0;
    margin: 0 6px;
    font-size: 12px;
}

.header-left a {
    text-decoration: none;
    color: #b0b0b0;
    font-size: 12px;
}

.header-left a:hover {
    text-decoration: none;
    color: #ffffff;
}

.header-right {
    float: left;
    margin-left: 521px;

}

.header-right a {
    text-decoration: none;
    color: #b0b0b0;
    font-size: 13px;
}

.header-right a:hover {
    text-decoration: none;
    color: white
}

.header-right span {
    color: #b0b0b0;
    margin: 0 6px;
    font-size: 13px;
}

.header-shop {
    float: right;
    width: 122px;
    background: #424242;
    margin-right: 80px;
    margin-top: -45px;
}

.header-shop a:hover {
    background: white url("./imgs/shop1.png") no-repeat 10px 12px;
}

.header-shop p a {
    display: inline-block;
    margin-left: 3px;
    height: 44px;
    width: 89px;
    font-size: 15px;
    text-decoration: none;
    color: #b0b0b0;
    padding-left: 35px;
    background: url("./imgs/shop.png") no-repeat 10px;
}

.bar {
    width: 1227px;
    height: 100px;
    margin: 0 auto;
    clear: both;
}

.bar img {
    display: block;
    float: left;
    margin-top: 20px;
    margin-left: 0px;

}

.bar ul {
    position: absolute;
    top: 70px;
    left: 300px;
}

.bar li {
    float: left;
    padding: 10px;

}

.bar li a {
    text-decoration: none;
    color: #000;
}

.bar li a:hover {
    text-decoration: none;
    color: #FF6700;
}

.bar .bar-right {
    float: right;
    width: 300px;
    height: 50px;
    border: 1px solid #000;
    margin-top: 25px;
}

.bar .bar-right input {
    width: 245px;
    height: 47px;
    float: left;
    outline: none;
}

.bar .bar-right button {
    float: left;
    width: 51px;
    height: 50px;
    background: url("./imgs/btn2.png");
    border: none;
}

.bar .bar-right button:active {
    background: url("./imgs/btn.png");
}

.contain {
    margin: 0 auto;
    width: 1227px;
}

.contain .contain-bar {
    width: 230px;
    height: 460px;
    background: rgba(0, 0, 0, .6);
    border: none;
    margin-top: -20px;
}

.contain .pic {
    position: absolute;
    left: 60px;
    top: 143px;
    z-index: -10;
}

.contain .contain-bar ul {
    margin-top: 20px;
}

.contain .contain-bar ul li {
    height: 43px;
    line-height: 43px;
    padding: 0 20px;
}

.contain .contain-bar ul li:hover {
    background: #FF6700;
}

.contain .contain-bar ul li::after {
    content: ">";
    float: right;
    color: #fff;
}

.contain .contain-bar ul li a {
    color: #fff;
}

.contain .contain-bar ul li a:hover {
    text-decoration: none;
}

.contain .other {

}

.contain .other a {
    position: absolute;
    left: 299px;
    top: 350px;
    display: block;
    width: 43px;
    height: 70px;
    background: rgba(0, 0, 0, .0);
    line-height: 70px;
    color: white;
    font-size: 50px;
    font-style: normal;
}

.contain .other a:hover {
    background: rgba(0, 0, 0, .6);
    cursor: pointer;
    text-decoration: none;
}

.contain .other .other-right {
    left: auto;
    right: 70px;

}

.main {
    width: 1227px;
    margin: 0 auto;
    margin-top: 15px;
}

.main .main-left {
    width: 235px;
    height: 170px;
    background: #5F5750;
}

.main .main-left li {
    width: 77px;
    height: 85px;
    float: left;
    line-height: 85px;
}

.main .main-left li a {
    display: block;
    text-align: center;
    height: 75px;
    font-size: 12px;
    text-decoration: none;
    color: #CDCAC8;
    background: url("./imgs/icon01.png") no-repeat 27px 8px;
    margin-top: 9px;
    border-top: 1px solid #665E57;
    border-right: 1px solid #665E57;
}

.main .main-left li a:hover {
    text-decoration: none;
    color: white;
    background: url("./imgs/icon03.png") no-repeat 27px 8px;
}

.main .main-left li .x01, .main .main-left li .x02, .main .main-left li .x03 {
    border-top: none;
}

.main .main-left li .x03, .main .main-left li .x06 {
    border-right: none;
}

.main .main-mid01, .main-mid02, .main-right {
    position: absolute;
    top: 618px;
}

.main-right {
    left: auto;
    right: 61px;
    top: 619px;
}

.main-mid02 {
    left: auto;
    right: 393px;
}

.main-mid01 {
    left: 310px;
}

.star-single {
    width: 1227px;
    margin: 0 auto;
    clear: both;
}

.star-single h2 {
    font-size: 20px;
    font-weight: 200;
    margin-top: 45px;
}

.star-single h2 a {
    text-decoration: none;
    float: right;
    display: block;
    width: 35px;
    height: 24px;
    border: 1px solid #E0E0E0;
    text-align: center;
    font-weight: 700;
    color: #BBB1B0;
}

.star-single li {
    width: 235px;
    height: 340px;
    background: #FAFAFA;
    float: left;
    margin-top: 20px;
    text-align: center;
}

.star-01, .star-02, .star-03, .star-04 {
    margin-right: 13px;
}

.star-single li img {
    width: 160px;
    height: 190px;
    display: block;
    margin-left: 40px;
}

.star-single li a {
    text-decoration: none;
    color: #000;
    font-size: 12px;
}

.star-single li p.xixi {
    font-size: 11px;
    margin-top: 13px;
    color: #B0B0B0;
}

.star-single li p.hehe {
    font-size: 13px;
    margin-top: 20px;
    color: #FF6709;
}

.footer {
    width: 1227px;
    height: 300px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
}

.footer-top {
    border-bottom: 1px solid #E0E0E0;
    margin-top: 65px;

}

.footer-top a {
    display: inline-block;
    width: 140px;
    height: 30px;
    font-size: 16px;
    color: #616161;
    text-decoration: none;
    background: url("./imgs/icon04.png") no-repeat 20px;
    padding-left: 30px;
    margin-bottom: 30px;
}

.footer-top a:hover {
    color: #FF6700;
    text-decoration: none;
    background: url("./imgs/tool02.png") no-repeat 20px;
}

.footer-top i {
    font-style: normal;
    margin: 40px;
    color: #E0E0E0;
    font-size: 20px;

}

.footer .footer-left {
    margin-top: 40px;
    float: left;
    border-right: 1px solid #E0E0E0;
}

.footer .footer-left dl {
    float: left;
    margin-right: 105px;

}

.footer .footer-left dl dt {
    font-size: 14px;
}

.footer .footer-left dl dd a {
    display: inline-block;
    margin-top: 17px;
    font-size: 12px;
    color: #757575;
    text-decoration: none;
}

.footer .footer-left dl dd a:hover {
    color: #FF6B00;
}

.footer .footer-right {
    float: right;
    margin-top: 43px;
    margin-right: 136px;
}

.footer .footer-right .footer-right-01 {
    color: #FF6B00;
    font-weight: 500;
    font-size: 22px;

}

.footer .footer-right .footer-right-02 {
    font-size: 13px;
    color: #616161;
    margin-top: 9px;
}

.footer .footer-right .footer-right-03 {
    font-size: 12px;
    color: #616161;
}

.footer .footer-right a {
    display: block;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
    width: 120px;
    text-decoration: none;
    color: #FF6700;
    font-size: 13px;
    border: 1px solid #FF6700;
    padding-left: 15px;
    background: url("./imgs/talk01.png") no-repeat 10px 7px;
}

.footer .footer-right a:hover {
    background: #F25807 url("./imgs/talk02.png") no-repeat 10px 7px;
    color: #fff;
}

.last {
    width: 1227px;
    margin: 0 auto;
    height: 60px;
}

.last img {
    display: block;
    float: left;
    margin-top: 56px;
}

.last .title {
    float: left;
    padding-left: 10px;
    margin-top: 56px;
}

.last .title .last-01 {
    font-size: 13px;
    color: #757575;
}

.last .title .last-01 span {
    margin: 0 2px;
}

.last .title .last-01 a {
    text-decoration: none;
    color: #757575;
}

.last .title .last-01 a:hover {
    text-decoration: none;
    color: #FF6709;
}

.last .title .last-02 {
    font-size: 12px;
    color: #B0B0B0;
}

.last .title .last-02 a {
    color: #B0B0B0;
    text-decoration: none;
}

.last .title .last-02 a:hover {
    text-decoration: none;
    color: #FF6709;
}

.last .title .last-03 {
    font-size: 12px;
    color: #B0B0B0;
}

.fin {
    display: block;
    margin-left: 120px;
    position: relative;
    top: 20px;

}

.ser {
    height: 64px;
    clear: both;
    padding-top: 30px;
    text-align: center;
    font-family: "楷体";
    font-size: 20px;
    color: #D6D6D6;
}